.news-alerts {
    position:absolute;
    top:62px;
    left:0;
    width:70%;
    left:15%;
    padding:20px;
    background:#464646 url(/images/classy_fabric_light.jpg);
    z-index:5050;
    border:10px solid #222;
    border-top:0;
    -webkit-box-shadow:0 0 40px 5px black;
    box-shadow:0 0 40px 5px black
}
.news-alerts ul {
    list-style:none;
    margin:0 0 20px 0
}
.news-alerts ul li {
    background:rgba(0, 0, 0, 0.3);
    padding:10px;
    margin:0 0 5px 0;
    border-left:10px solid black
}
.news-alerts ul li:nth-child(8n+1) {
    border-left-color:#db4844
}
.news-alerts ul li:nth-child(8n+1) strong {
    color:#e78784
}
.news-alerts ul li:nth-child(8n+2) {
    border-left-color:#f07c22
}
.news-alerts ul li:nth-child(8n+2) strong {
    color:#f5a66a
}
.news-alerts ul li:nth-child(8n+3) {
    border-left-color:#f6da74
}
.news-alerts ul li:nth-child(8n+3) strong {
    color:#fbedbc
}
.news-alerts ul li:nth-child(8n+4) {
    border-left-color:#abcd58
}
.news-alerts ul li:nth-child(8n+4) strong {
    color:#c9df93
}
.news-alerts ul li:nth-child(8n+5) {
    border-left-color:#639a50
}
.news-alerts ul li:nth-child(8n+5) strong {
    color:#8cbb7c
}
.news-alerts ul li:nth-child(8n+6) {
    border-left-color:#3b7fa7
}
.news-alerts ul li:nth-child(8n+6) strong {
    color:#66a4c9
}
.news-alerts ul li:nth-child(8n+7) {
    border-left-color:#7d5cdc
}
.news-alerts ul li:nth-child(8n+7) strong {
    color:#af9bea
}
.news-alerts ul li:nth-child(8n+8) {
    border-left-color:#bf72b8
}
.news-alerts ul li:nth-child(8n+8) strong {
    color:#d7a7d2
}
@media (max-width: 700px) {
    .news-alerts {
        width:90%;
        left:5%
    }
}
.home-section {
    padding:50px 20px;
    position:relative
}
@media (max-width: 500px) {
    .home-section {
        padding-left:10px;
        padding-right:10px
    }
}
.home-section-inside {
    max-width:1200px;
    margin:0 auto
}
.pens {
    background:-webkit-radial-gradient(0% bottom, ellipse farthest-corner, rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.1) 100%);
    background:radial-gradient(ellipse farthest-corner at 0% bottom, rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.1) 100%);
    padding-top:30px;
    height:564px
}
@media (max-width: 700px) {
    .pens {
        height:770px
    }
}
@media (max-width: 500px) {
    .pens {
        height:1360px;
        padding-top:10px
    }
}
.pens .section-split-title strong {
    color:#66CE5B
}
.mobile-search {
    padding-top:10px;
    padding-bottom:10px;
    display:none
}
@media (max-width: 500px) {
    .mobile-search {
        display:block
    }
}
.blog-posts {
    overflow:hidden;
    background:-webkit-radial-gradient(0% bottom, ellipse farthest-corner, rgba(165, 97, 203, 0.15), rgba(0, 0, 0, 0.1) 100%);
    background:radial-gradient(ellipse farthest-corner at 0% bottom, rgba(165, 97, 203, 0.15), rgba(0, 0, 0, 0.1) 100%)
}
.blog-posts .home-blog-promo {
    width:49%;
    background:rgba(0, 0, 0, 0.2)
}
.blog-posts .home-blog-promo:first-of-type {
    margin-right:2%
}
.blog-posts .home-blog-promo h2 {
    font-size:1.8rem
}
.blog-posts .post-content {
    color:#999
}
.blog-posts .section-split-title strong {
    color:#A561CB
}
.collections {
    background:-webkit-radial-gradient(0% bottom, ellipse farthest-corner, rgba(215, 94, 94, 0.15), rgba(0, 0, 0, 0.1) 100%);
    background:radial-gradient(ellipse farthest-corner at 0% bottom, rgba(215, 94, 94, 0.15), rgba(0, 0, 0, 0.1) 100%)
}
.collections .section-split-title strong {
    color:#D75E5E
}
.home-video-popup {
    width:75%;
    height:0;
    padding-top:42.1%;
    position:fixed;
    z-index:7500;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    -ms-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    display:none
}
.home-video-popup.show {
    display:block
}
.home-video-popup iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%
}
@media (max-width: 500px) {
    .home-video-popup {
        position:fixed;
        top:50px;
        -webkit-transform:translate(-50%, 0);
        -ms-transform:translate(-50%, 0);
        transform:translate(-50%, 0)
    }
}
.video-close-button {
    position:absolute;
    top:0;
    right:0;
    margin-top:-35px;
    margin-right:-30px;
    cursor:pointer
}
.video-close-button svg {
    fill:white;
    width:25px;
    height:25px
}
.video-close-button:hover svg, .video-close-button:focus svg {
    fill:red
}
